<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.product.mapper.AttributeMapper">

    <!-- -->
    <insert id="insertAttribute" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_attribute (
           name, description, type, input_type, value_list,
           unit, sort, is_allow_customize,template_id
        ) VALUES (
              #{name}, #{description}, #{type}, #{inputType}, #{valueList},
              #{unit}, #{sort}, #{isAllowCustomize}, #{templateId}
                 )
    </insert>

    <delete id="deleteAttributeById">
        DELETE FROM pms_attribute WHERE id=#{id}
    </delete>

    <delete id="deleteAttributeByIds">
         DELETE FROM pms_attribute WHERE id IN (
             <foreach collection="array" item="id" separator=",">
                #{id}
             </foreach>
             )
    </delete>

    <update id="updateAttributeById">
        UPDATE
           pms_attribute
        <set>
            <if test="templateId != null">
                template_id=#{templateId},
            </if>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="type != null">
                type=#{type},
            </if>
            <if test="inputType != null">
                input_type=#{inputType},
            </if>
            <if test="valueList != null">
                value_list=#{valueList},
            </if>
            <if test="unit != null">
                unit=#{unit},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
            <if test="isAllowCustomize != null">
                is_allow_customize=#{isAllowCustomize},
            </if>
        </set>
        WHERE
        id=#{id}
    </update>

    <select id="countAttribute" resultType="int">
        SELECT count(*) FROM pms_attribute
    </select>


    <select id="getAttributeStandardById" resultMap="StandardAttributeResultMap">
        SELECT
            <include refid="StandardAttributeQueryFields"></include>
        FROM
            pms_attribute
        WHERE
            id=#{id}
    </select>

    <sql id="StandardAttributeQueryFields">
        <if test="true">
            id,template_id,name,description,type,
            input_type,value_list,unit,sort,is_allow_customize
        </if>
    </sql>

    <resultMap id="StandardAttributeResultMap" type="cn.tedu.csmall.product.pojo.vo.AttributeStandardVO">
        <id column="id" property="id"/>
        <result column="template_id" property="templateId"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="input_type" property="inputType"/>
        <result column="value_list" property="valueList"/>
        <result column="unit" property="unit"/>
        <result column="sort" property="sort"/>
        <result column="is_allow_customize" property="isAllowCustomize"/>
    </resultMap>

    <!--int countAlbumByName(String name);-->
    <select id="countAttributeByName" resultType="java.lang.Integer" >
        SELECT
           COUNT(*)
        FROM
           pms_attribute
        WHERE name=#{name}
    </select>


    <select id="listAttribute" resultMap="ListAttributeResultMap">
        SELECT
        <include refid="ListAttributeQueryFields"/>
        FROM
        pms_attribute
        ORDER BY
        sort DESC, id
    </select>

    <sql id="ListAttributeQueryFields">
        <if test="true">
            id,name,description,type,input_type,
            value_list,unit,sort,is_allow_customize
        </if>
    </sql>

    <resultMap id="ListAttributeResultMap"
               type="cn.tedu.csmall.product.pojo.vo.AttributeListItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="input_type" property="inputType"/>
        <result column="value_list" property="valueList"/>
        <result column="unit" property="unit"/>
        <result column="sort" property="sort"/>
        <result column="is_allow_customize" property="isAllowCustomize"/>
    </resultMap>

</mapper>