<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.product.mapper.BrandCategoryMapper">

    <!-- int insert(BrandCategory brandCategory); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_brand_category (
            brand_id, category_id
        ) VALUES (
            #{brandId}, #{categoryId}
        )
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM
            pms_brand_category
        WHERE
            id = #{id}
    </delete>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        DELETE
        FROM
            pms_brand_category
        WHERE
            id IN (
                <foreach collection="array" item="id" separator=",">
                    #{id}
                </foreach>
            )
    </delete>

    <!-- int countByBrand(Long brandId); -->
    <select id="countByBrand" resultType="int">
        SELECT count(*) FROM pms_brand_category WHERE brand_id=#{brandId}
    </select>

    <!-- int countByCategory(Long categoryId); -->
    <select id="countByCategory" resultType="int">
        SELECT count(*) FROM pms_brand_category WHERE category_id=#{categoryId}
    </select>

    <!-- int countByBrandAndCategory(@Param("brandId") Long brandId, @Param("categoryId") Long categoryId); -->
    <select id="countByBrandAndCategory" resultType="int">
        SELECT count(*) FROM pms_brand_category WHERE brand_id=#{brandId} AND category_id=#{categoryId}
    </select>

    <!-- List<BrandCategoryListItemVO> list(); -->
    <select id="list" resultType="cn.tedu.csmall.product.pojo.vo.BrandCategoryListItemVO">
        SELECT
            id,
            brand_id AS brandId,
            category_id AS categoryId
        FROM
            pms_brand_category
        WHERE
            id=#{id}
    </select>

</mapper>
