<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.csmall.product.mapper.PictureMapper">

    <insert id="insert2">
        INSERT INTO pms_picture (
           album_id, url, description, width, height,
           gmt_create, gmt_modified)
        VALUES (
            #{albumId}, #{url}, #{description}, #{width}, #{height},
            #{gmtCreate}, #{gmtModified})
    </insert>

    <select id="countP" resultType="int">
        SELECT count(*) FROM pms_picture
    </select>

    <select id="getStandardByIdP" resultMap="StandardResultMapP">
        SELECT
        <include refid="StandardQueryFieldsP"></include>
        FROM
        pms_picture
        WHERE
        id=#{id}
    </select>

    <sql id="StandardQueryFieldsP">
        <if test="true">
            id,album_id,url,description, width,
            height, is_cover,sort
        </if>
    </sql>

    <resultMap id="StandardResultMapP" type="cn.tedu.csmall.product.pojo.vo.PictureStandardVO">
        <id column="id" property="id"/>
        <result column="album_id" property="albumId"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="is_cover" property="isCover"/>
        <result column="sort" property="sort"/>
    </resultMap>

</mapper>
