<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.product.mapper.PictureMapper">

    <!-- int insert(Picture picture); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_picture (
            album_id, url, is_cover, description, width,
            height, sort
        ) values (
            #{albumId}, #{url}, #{isCover}, #{description}, #{width},
            #{height}, #{sort}
        )
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM
            pms_picture
        WHERE
            id = #{id}
    </delete>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        DELETE
        FROM
            pms_picture
        WHERE
            id IN (
                <foreach collection="array" item="id" separator=",">
                    #{id}
                </foreach>
            )
    </delete>

    <!-- int countByAlbum(Long albumId); -->
    <select id="countByAlbum" resultType="int">
        SELECT count(*) FROM pms_picture WHERE album_id=#{albumId}
    </select>

    <!-- PictureStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
            <include refid="StandardQueryFields"/>
        FROM
            pms_picture
        WHERE
            id=#{id}
    </select>

    <!-- List<PictureListItemVO> listByAlbum(Long albumId); -->
    <select id="listByAlbum" resultMap="ListResultMap">
        SELECT
            <include refid="ListQueryFields"/>
        FROM
            pms_picture
        WHERE
            album_id=#{albumId}
        ORDER BY
            is_cover DESC, sort DESC, id
    </select>

    <sql id="StandardQueryFields">
        <if test="true">
            id,
            album_id,
            url,
            is_cover,
            description,
            width,
            height,
            sort
        </if>
    </sql>

    <resultMap id="StandardResultMap" type="cn.tedu.csmall.product.pojo.vo.PictureStandardVO">
        <id column="id" property="id"/>
        <result column="album_id" property="albumId"/>
        <result column="url" property="url"/>
        <result column="is_cover" property="isCover"/>
        <result column="description" property="description"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <sql id="ListQueryFields">
        <if test="true">
            id,
            album_id,
            url,
            is_cover,
            description,
            width,
            height,
            sort
        </if>
    </sql>

    <resultMap id="ListResultMap" type="cn.tedu.csmall.product.pojo.vo.PictureListItemVO">
        <id column="id" property="id"/>
        <result column="album_id" property="albumId"/>
        <result column="url" property="url"/>
        <result column="is_cover" property="isCover"/>
        <result column="description" property="description"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="sort" property="sort"/>
    </resultMap>

</mapper>
