<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.product.mapper.SpuMapper">

    <!-- 注意：此id不是自动编号的，则需要插入id值，且不需要配置自动获取id的2个属性 -->
    <!-- int insert(Spu spu); -->
    <insert id="insert">
        INSERT INTO pms_spu (
            id, name, type_number, title, description,
            list_price, stock, stock_threshold, unit, brand_id,
            brand_name, category_id, category_name, attribute_template_id, album_id,
            pictures, keywords, tags, sort, is_deleted,
            is_published, is_new_arrival, is_recommend, is_checked, gmt_check
        ) VALUES (
            #{id}, #{name}, #{typeNumber}, #{title}, #{description},
            #{listPrice}, #{stock}, #{stockThreshold}, #{unit}, #{brandId},
            #{brandName}, #{categoryId}, #{categoryName}, #{attributeTemplateId}, #{albumId},
            #{pictures}, #{keywords}, #{tags}, #{sort}, #{isDeleted},
            #{isPublished}, #{isNewArrival}, #{isRecommend}, #{isChecked}, #{gmtCheck}
         )
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM
            pms_spu
        WHERE
            id = #{id}
    </delete>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        DELETE
        FROM
            pms_spu
        WHERE
            id IN (
                <foreach collection="array" item="id" separator=",">
                    #{id}
                </foreach>
            )
    </delete>

    <!-- int countByBrand(Long brandId); -->
    <select id="countByBrand" resultType="int">
        SELECT count(*) FROM pms_spu WHERE brand_id=#{brandId}
    </select>

    <!-- int countByCategory(Long categoryId); -->
    <select id="countByCategory" resultType="int">
        SELECT count(*) FROM pms_spu WHERE category_id=#{categoryId}
    </select>

    <!-- int countByAlbum(Long albumId); -->
    <select id="countByAlbum" resultType="int">
        SELECT count(*) FROM pms_spu WHERE album_id=#{albumId}
    </select>

</mapper>
